@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

* {
margin: 0;
padding: 0;
font-family: 'Poppins', sans-serif;
box-sizing: border-box;


}

:root {
--clr: #0f0;


}

body{
display: flex;
justify-content: center;
align-items: center;
min-height: 140vh;
background: #000;


}

.container {
position: relative;
height: 400px;
width: 100%;
display: flex;
justify-content: center;

}


.container .cloud {

position: relative;
width: 100px;
height: 300px;
z-index: 100;
filter: drop-shadow(0 0 35px var(--clr));


}




.container .cloud h2 {

position: absolute;
left: 50%;
transform: translateX(-50%);
white-space: nowrap;
color: black;
font-size: 2em;
font-weight: 600;
padding: 0 10px;
border-radius: 10px;
z-index: 1000;
text-transform: uppercase;
background: var(--clr);

}
.container .cloud h2::before
{

content: '';
position: absolute;
top:-115px;
height: 100px;
width: 120%;
background: #0f0;
transform:translateX(-50%);
left: 50%;

}